* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#card {
    background-image: url("https://images.unsplash.com/photo-1502462041640-b3d7e50d0662?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
    /* bgs */
    /* cover 滿版 */
    background-size: cover;
    width: 600px;
    /* 上 左右 下 */
    margin: 100px auto 0;
    padding: 250px 80px 100px;
    box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.4);
    /* 轉場：轉場時間 */
    transition: 0.5s;
}

/* 選取器:hover - 滑入元素後的樣式 */
#card:hover {
    /* 變形：尺寸(倍數) */
    transform: scale(1.2);
}

#content {
    background-color: rgba(20, 20, 20, 0.5);
    color: rgb(255, 174, 0);
    padding: 30px 20px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}
ul {
    padding-left: 30px;
}

li {
    margin-bottom: 8px;
}

footer {
    /* tac */
    text-align: center;
    /* fz */
    font-size: 80px;
    /* ls */
    letter-spacing: 100px;
    /* pl */
    padding-left: 100px;
    /* c */
    color:  rgba(255, 174, 0, 0.8);
    /* mt */
    margin-top: 50px;
}
body {
    background: #202020;
}